head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Profile
    link(rel='stylesheet', href='/stylesheet/style.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700', rel='stylesheet')
    //- script(src='https://use.fontawesome.com/releases/v5.0.8/js/regular.js')
    //- script(src='https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js')
