html  
    include partials/header

    body
        block content
            #home.wrapper
                .menu
                    ul
                        li
                            a(href='#home') JP
                        li
                            a(href='#explink') Experience
                        li
                            a(href='#edulink') Education
                        li
                            a(href='#reflink') References
                        .menuR
                            li
                                a(href='http://github.com/pagejakob', target='_blank')
                                    img(src='img/github.svg', height="100px")
                            li
                                a(href='https://www.linkedin.com/in/pagejakob/', target='_blank')
                                    img(src='img/linkedin.svg', height="100px")
                            li
                                a(href='https://www.instagram.com/pagejakob/', target='_blank')
                                    img(src='img/instagram.svg', height="100px")
                .name
                    h1  Hello, my name is Jakob. I am a Front End Developer, <br/>and lets talk about your next project. |
                    p   Pagejakob@gmail.com <br/>0468 999 090 

                .blur
                    img(src="/img/profilewide.jpg", alt="jakobpage")
                    #explink
                .mobile
                    img(src="/img/profilesml.jpg", width="640", alt="jakobpage")
                    #explink

                .experience
                    .header
                        h2  Experience
                    .work
                        .work1
                            .workHead
                                h3  Intern Web Developer 
                                h4  Collective Us 2017-Present
                            .workDesc
                                p   Optimising web and landing pages for clients
                                p   Gaining experience using HTML, PUG, Node, Javascript and CSS Improved clients website search ranking through SEO
                        .work2
                            .workHead
                                h3  Intern Mobile Developer 
                                h4  ADWEB - 2017
                            .workDesc
                                p   Gained experience using C# and Visual Studio to create a cross-platform application
                                p   Learned about mobile development and design
                                p   Working with a global team to create a product
                        .work3
                            .workHead
                                h3  Web Developer
                                h4  Serving Aces - 2017
                            .workDesc
                                p   Meeting with the clients to discuss the project requirements
                                p   Created a new website for client with modern standards and design 
                                p   Setup a digital storefront allowing the client to sell their products online using CMS PrestaShop
                    #edulink

                .education
                    .header
                        h2  Education
                    .edu
                        h3  Software Development - 2017
                        h4  Diploma
                        p   Swinburne University of Technology
                    .edu
                        h3  Software Development - 2016
                        h4  Certificate IV
                        p   Swinburne University of Technology
                    #reflink
                .references
                    .header
                        h2  References
                    .ref
                        .refOne
                            h3  Jude Rus, Founder
                            h4  Collective Us
                            p   0401 360 908 | jude.r@collectiveus.com
                        .refTwo
                            h3  Anh Nguyen, Course Co-ordinator 
                            h4  Swinburne University 
                            p   0437 861 403 | anguyen@swin.edu.au

                include partials/footer       
            